body {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-height: 100vh;
    padding-top: 4rem;
    padding-left: 2rem;
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }
table {
  width: 100%;
  table-layout: fixed;
  padding-left: 2rem;
}
table tbody {
  display: block;
  overflow: auto;
  /* height: 600px; */
  height: 85vh;
}
table thead {
  display: block;
}
/* table thead tr th {
  width: 13.75%;
} */
table th,
table td{
  /* width: 12.5%; */
  width: 123px;
  text-align: center;
  border-bottom: thin dotted #ccc;
  padding: 0.15rem;
}
table th {
  font-weight: bold;
  font-size: medium;
}
table td {
  font-size: 10px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 0.2rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
table td:first-child,
table th:first-child {
  text-align: left;
}​
table td > span {
  font-size: 0.8em;
  font-weight: normal;
  display: block;
  width: 100%;
}

.course-one {
  background-color: #af93e4;
}

.course-two {
  background-color: #82b8eb;
}

.course-three {
  background-color: #f7ab64;
}

.course-four {
  background-color: #69d672;
}

.course-five {
  background-color: #f5e97d;
}

.course-six {
  background-color: #f56744;
}

.course-seven {
  background-color: #daa3be;
}

.course-eight {
  background-color: rgb(166, 228, 225);
}

.course-nine {
  background-color: #909697;
}

.course-ten {
  background-color: #3167b8;
}

#smaller {
  font-size: small;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}