{% extends "layout.html" %}
{% block content %}
<body style="padding-top: 55px;">
    <main role="main">
        <div class="content-section">
            </br>
            <h1 class="text-primary" style="margin-bottom: 20px;">About the CC Academic Planner and Researchers</h1>
            <p>
                This academic planner is part of a research project conducted by senior Computer Science major and Psychology minor Chelsea Vickers '21, advised by Professor Christine Chung, for COM 495 and COM 496.
                This software was designed to help students visually plan out their schedules for an upcoming semester by integrating course information from the Registrar to eliminate the potential of copying over
                course information over when planning a schedule.
            </p>
            </br>
        </div>
    </main>
</body>
{% endblock content %}