{% extends "layout.html" %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="ccplan/static/conncoll_nUk_icon.ico">

<title>CC Academic Planner</title>

<!--Bootstrap core CSS -->
<link href="ccplan/static/assets/css/bootstrap.min.css" rel="stylesheet">

<!--Custom styles for this template -->
<link href="ccplan/static/assets/css/main.css" rel="stylesheet">
{% endblock head %}
{% block content %}
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <br/>
        <h2 class="text-primary" style="text-align:center;">Welcome to the CC Academic Planner!</h2>
        </br>
        <ul>
            <li style="margin-bottom: 10px">The CC Academic Planner is for planning purposes <strong>only</strong>. Adding a class to a schedule on here <strong>DOES NOT</strong> register you for that class!</li>
                <ul>
                    <li style="margin-bottom: 10px">Please visit the <a href="https://www.conncoll.edu/academics/registrar/course-registration/">Connecticut College registration page</a> for information regarding registering for classes.</li>
                </ul>
            <li style="margin-bottom: 10px;"><a href="/how-to">How To:</a></li>
                <ul>
                    <li style="margin-bottom: 10px">Once you have selected a course from the dropdown lists on the right side of the page, press the "Add Course" button to add the course to your schedule. After you add a course, the planner will update your calendar view so you can visualize your weekly class schedule!</li>
                    <li style="margin-bottom: 10px">If you would like to remove a course (or multiple courses), select the course(s) in the "Selected Courses" box that you would like to remove, and then click the "Remove course(s)" button.</li>
                    <ul>
                        <li style="margin-bottom: 10px"><i>In order to select multiple courses from the box, you can hold down the Ctrl (PC) or Command (Mac) key and then click on each course you want to select.</i></li>
                    </ul>
                </ul>
            <li>This web application was built as part of a research project by Chelsea Vickers '21, advised by Professor Chung. You can read more about this on the <a href="/about">About</a> page.</li>
        </ul>
        <!-- <p style="text-align: center;"><input class="form-check-input" type="checkbox" value="" id="check"><label class="form-check-label" for="defaultCheck1">Don't show this again</label></p> -->
        <form method="POST" action="" style="text-align:center">
            {{ modalform.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    <!-- {{ modalform.cb }}
                    {{ modalform.cb.label }} -->
                    </br>
                    {{ modalform.start(class="btn btn-outline-primary") }}
                </div>
            </fieldset>
        </form>
        <!-- <script>
            let cb = document.getElementById('check');

            cb.onchange = function() {
                v = cb.value;
                document.cookie = "modal=v"
            }
        </script>
        <script>
            const cb = document.getElementById('check');
            console.log(cb.checked);
        </script> -->
    </div>
  
</div>
<script>
    var m = JSON.parse('{{ m | tojson | safe }}');
    if(m == "first" || m == "yes"){
        // Get the modal
        var modal = document.getElementById("myModal");

        modal.style.display = "block";

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>
<div class="row">
    <div class="col-md-9">
        <head>
            <title>Class Schedule</title>
            <link rel="stylesheet" type="text/css" href="ccplan/static/assets/css/calendar.css" />
        </head>
        <body>
            <table>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>MON</th>
                        <th>TUES</th>
                        <th>WED</th>
                        <th>THUR</th>
                        <th>FRI</th>
                        <th>SAT</th>
                        <th>SUN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8:00 AM</td>
                        <td id="M800"></td>
                        <td id="T800"></td>
                        <td id="W800"></td>
                        <td id="R800"></td>
                        <td id="F800"></td>
                        <td id="S800"></td>
                        <td id="SU800"></td>
                    </tr>
                    <tr>
                        <td>8:15 AM</td>
                        <td id="M815"></td>
                        <td id="T815"></td>
                        <td id="W815"></td>
                        <td id="R815"></td>
                        <td id="F815"></td>
                        <td id="S815"></td>
                        <td id="SU815"></td>
                    </tr>
                    <tr>
                        <td>8:30 AM</td>
                        <td id="M830"></td>
                        <td id="T830"></td>
                        <td id="W830"></td>
                        <td id="R830"></td>
                        <td id="F830"></td>
                        <td id="S830"></td>
                        <td id="SU830"></td>
                    </tr>
                    <tr>
                        <td>8:45 AM</td>
                        <td id="M845"></td>
                        <td id="T845"></td>
                        <td id="W845"></td>
                        <td id="R845"></td>
                        <td id="F845"></td>
                        <td id="S845"></td>
                        <td id="SU845"></td>
                    </tr>
                    <tr>
                        <td>9:00 AM</td>
                        <td id="M900"></td>
                        <td id="T900"></td>
                        <td id="W900"></td>
                        <td id="R900"></td>
                        <td id="F900"></td>
                        <td id="S900"></td>
                        <td id="SU900"></td>
                    </tr>
                    <tr>
                        <td>9:15 AM</td>
                        <td id="M915"></td>
                        <td id="T915"></td>
                        <td id="W915"></td>
                        <td id="R915"></td>
                        <td id="F915"></td>
                        <td id="S915"></td>
                        <td id="SU915"></td>
                    </tr>
                    <tr>
                        <td>9:30 AM</td>
                        <td id="M930"></td>
                        <td id="T930"></td>
                        <td id="W930"></td>
                        <td id="R930"></td>
                        <td id="F930"></td>
                        <td id="S930"></td>
                        <td id="SU930"></td>
                    </tr>
                    <tr>
                        <td>9:45 AM</td>
                        <td id="M945"></td>
                        <td id="T945"></td>
                        <td id="W945"></td>
                        <td id="R945"></td>
                        <td id="F945"></td>
                        <td id="S945"></td>
                        <td id="SU945"></td>
                    </tr>
                    <tr>
                        <td>10:00 AM</td>
                        <td id="M1000"></td>
                        <td id="T1000"></td>
                        <td id="W1000"></td>
                        <td id="R1000"></td>
                        <td id="F1000"></td>
                        <td id="S1000"></td>
                        <td id="SU1000"></td>
                    </tr>
                    <tr>
                        <td>10:15 AM</td>
                        <td id="M1015"></td>
                        <td id="T1015"></td>
                        <td id="W1015"></td>
                        <td id="R1015"></td>
                        <td id="F1015"></td>
                        <td id="S1015"></td>
                        <td id="SU1015"></td>
                    </tr>
                    <tr>
                        <td>10:30 AM</td>
                        <td id="M1030"></td>
                        <td id="T1030"></td>
                        <td id="W1030"></td>
                        <td id="R1030"></td>
                        <td id="F1030"></td>
                        <td id="S1030"></td>
                        <td id="SU1030"></td>
                    </tr>
                    <tr>
                        <td>10:45 AM</td>
                        <td id="M1045"></td>
                        <td id="T1045"></td>
                        <td id="W1045"></td>
                        <td id="R1045"></td>
                        <td id="F1045"></td>
                        <td id="S1045"></td>
                        <td id="SU1045"></td>
                    </tr>
                    <tr>
                        <td>11:00 AM</td>
                        <td id="M1100"></td>
                        <td id="T1100"></td>
                        <td id="W1100"></td>
                        <td id="R1100"></td>
                        <td id="F1100"></td>
                        <td id="S1100"></td>
                        <td id="SU1100"></td>
                    </tr>
                    <tr>
                        <td>11:15 AM</td>
                        <td id="M1115"></td>
                        <td id="T1115"></td>
                        <td id="W1115"></td>
                        <td id="R1115"></td>
                        <td id="F1115"></td>
                        <td id="S1115"></td>
                        <td id="SU1115"></td>
                    </tr>
                    <tr>
                        <td>11:30 AM</td>
                        <td id="M1130"></td>
                        <td id="T1130"></td>
                        <td id="W1130"></td>
                        <td id="R1130"></td>
                        <td id="F1130"></td>
                        <td id="S1130"></td>
                        <td id="SU1130"></td>
                    </tr>
                    <tr>
                        <td>11:45 AM</td>
                        <td id="M1145"></td>
                        <td id="T1145"></td>
                        <td id="W1145"></td>
                        <td id="R1145"></td>
                        <td id="F1145"></td>
                        <td id="S1145"></td>
                        <td id="SU1145"></td>
                    </tr>
                    <tr>
                        <td>12:00 PM</td>
                        <td id="M1200"></td>
                        <td id="T1200"></td>
                        <td id="W1200"></td>
                        <td id="R1200"></td>
                        <td id="F1200"></td>
                        <td id="S1200"></td>
                        <td id="SU1200"></td>
                    </tr>
                    <tr>
                        <td>12:15 PM</td>
                        <td id="M1215"></td>
                        <td id="T1215"></td>
                        <td id="W1215"></td>
                        <td id="R1215"></td>
                        <td id="F1215"></td>
                        <td id="S1215"></td>
                        <td id="SU1215"></td>
                    </tr>
                    <tr>
                        <td>12:30 PM</td>
                        <td id="M1230"></td>
                        <td id="T1230"></td>
                        <td id="W1230"></td>
                        <td id="R1230"></td>
                        <td id="F1230"></td>
                        <td id="S1230"></td>
                        <td id="SU1230"></td>
                    </tr>
                    <tr>
                        <td>12:45 PM</td>
                        <td id="M1245"></td>
                        <td id="T1245"></td>
                        <td id="W1245"></td>
                        <td id="R1245"></td>
                        <td id="F1245"></td>
                        <td id="S1245"></td>
                        <td id="SU1245"></td>
                    </tr>
                    <tr>
                        <td>1:00 PM</td>
                        <td id="M1300"></td>
                        <td id="T1300"></td>
                        <td id="W1300"></td>
                        <td id="R1300"></td>
                        <td id="F1300"></td>
                        <td id="S1300"></td>
                        <td id="SU1300"></td>
                    </tr>
                    <tr>
                        <td>1:15 PM</td>
                        <td id="M1315"></td>
                        <td id="T1315"></td>
                        <td id="W1315"></td>
                        <td id="R1315"></td>
                        <td id="F1315"></td>
                        <td id="S1315"></td>
                        <td id="SU1315"></td>
                    </tr>
                    <tr>
                        <td>1:30 PM</td>
                        <td id="M1330"></td>
                        <td id="T1330"></td>
                        <td id="W1330"></td>
                        <td id="R1330"></td>
                        <td id="F1330"></td>
                        <td id="S1330"></td>
                        <td id="SU1330"></td>
                    </tr>
                    <tr>
                        <td>1:45 PM</td>
                        <td id="M1345"></td>
                        <td id="T1345"></td>
                        <td id="W1345"></td>
                        <td id="R1345"></td>
                        <td id="F1345"></td>
                        <td id="S1345"></td>
                        <td id="SU1345"></td>
                    </tr>
                    <tr>
                        <td>2:00 PM</td>
                        <td id="M1400"></td>
                        <td id="T1400"></td>
                        <td id="W1400"></td>
                        <td id="R1400"></td>
                        <td id="F1400"></td>
                        <td id="S1400"></td>
                        <td id="SU1400"></td>
                    </tr>
                    <tr>
                        <td>2:15 PM</td>
                        <td id="M1415"></td>
                        <td id="T1415"></td>
                        <td id="W1415"></td>
                        <td id="R1415"></td>
                        <td id="F1415"></td>
                        <td id="S1415"></td>
                        <td id="SU1415"></td>
                    </tr>
                    <tr>
                        <td>2:30 PM</td>
                        <td id="M1430"></td>
                        <td id="T1430"></td>
                        <td id="W1430"></td>
                        <td id="R1430"></td>
                        <td id="F1430"></td>
                        <td id="S1430"></td>
                        <td id="SU1430"></td>
                    </tr>
                    <tr>
                        <td>2:45 PM</td>
                        <td id="M1445"></td>
                        <td id="T1445"></td>
                        <td id="W1445"></td>
                        <td id="R1445"></td>
                        <td id="F1445"></td>
                        <td id="S1445"></td>
                        <td id="SU1445"></td>
                    </tr>
                    <tr>
                        <td>3:00 PM</td>
                        <td id="M1500"></td>
                        <td id="T1500"></td>
                        <td id="W1500"></td>
                        <td id="R1500"></td>
                        <td id="F1500"></td>
                        <td id="S1500"></td>
                        <td id="SU1500"></td>
                    </tr>
                    <tr>
                        <td>3:15 PM</td>
                        <td id="M1515"></td>
                        <td id="T1515"></td>
                        <td id="W1515"></td>
                        <td id="R1515"></td>
                        <td id="F1515"></td>
                        <td id="S1515"></td>
                        <td id="SU1515"></td>
                    </tr>
                    <tr>
                        <td>3:30 PM</td>
                        <td id="M1530"></td>
                        <td id="T1530"></td>
                        <td id="W1530"></td>
                        <td id="R1530"></td>
                        <td id="F1530"></td>
                        <td id="S1530"></td>
                        <td id="SU1530"></td>
                    </tr>
                    <tr>
                        <td>3:45 PM</td>
                        <td id="M1545"></td>
                        <td id="T1545"></td>
                        <td id="W1545"></td>
                        <td id="R1545"></td>
                        <td id="F1545"></td>
                        <td id="S1545"></td>
                        <td id="SU1545"></td>
                    </tr>
                    <tr>
                        <td>4:00 PM</td>
                        <td id="M1600"></td>
                        <td id="T1600"></td>
                        <td id="W1600"></td>
                        <td id="R1600"></td>
                        <td id="F1600"></td>
                        <td id="S1600"></td>
                        <td id="SU1600"></td>
                    </tr>
                    <tr>
                        <td>4:15 PM</td>
                        <td id="M1615"></td>
                        <td id="T1615"></td>
                        <td id="W1615"></td>
                        <td id="R1615"></td>
                        <td id="F1615"></td>
                        <td id="S1615"></td>
                        <td id="SU1615"></td>
                    </tr>
                    <tr>
                        <td>4:30 PM</td>
                        <td id="M1630"></td>
                        <td id="T1630"></td>
                        <td id="W1630"></td>
                        <td id="R1630"></td>
                        <td id="F1630"></td>
                        <td id="S1630"></td>
                        <td id="SU1630"></td>
                    </tr>
                    <tr>
                        <td>4:45 PM</td>
                        <td id="M1645"></td>
                        <td id="T1645"></td>
                        <td id="W1645"></td>
                        <td id="R1645"></td>
                        <td id="F1645"></td>
                        <td id="S1645"></td>
                        <td id="SU1645"></td>
                    </tr>
                    <tr>
                        <td>5:00 PM</td>
                        <td id="M1700"></td>
                        <td id="T1700"></td>
                        <td id="W1700"></td>
                        <td id="R1700"></td>
                        <td id="F1700"></td>
                        <td id="S1700"></td>
                        <td id="SU1700"></td>
                    </tr>
                    <tr>
                        <td>5:15 PM</td>
                        <td id="M1715"></td>
                        <td id="T1715"></td>
                        <td id="W1715"></td>
                        <td id="R1715"></td>
                        <td id="F1715"></td>
                        <td id="S1715"></td>
                        <td id="SU1715"></td>
                    </tr>
                    <tr>
                        <td>5:30 PM</td>
                        <td id="M1730"></td>
                        <td id="T1730"></td>
                        <td id="W1730"></td>
                        <td id="R1730"></td>
                        <td id="F1730"></td>
                        <td id="S1730"></td>
                        <td id="SU1730"></td>
                    </tr>
                    <tr>
                        <td>5:45 PM</td>
                        <td id="M1745"></td>
                        <td id="T1745"></td>
                        <td id="W1745"></td>
                        <td id="R1745"></td>
                        <td id="F1745"></td>
                        <td id="S1745"></td>
                        <td id="SU1745"></td>
                    </tr>
                    <tr>
                        <td>6:00 PM</td>
                        <td id="M1800"></td>
                        <td id="T1800"></td>
                        <td id="W1800"></td>
                        <td id="R1800"></td>
                        <td id="F1800"></td>
                        <td id="S1800"></td>
                        <td id="SU1800"></td>
                    </tr>
                    <tr>
                        <td>6:15 PM</td>
                        <td id="M1815"></td>
                        <td id="T1815"></td>
                        <td id="W1815"></td>
                        <td id="R1815"></td>
                        <td id="F1815"></td>
                        <td id="S1815"></td>
                        <td id="SU1815"></td>
                    </tr>
                    <tr>
                        <td>6:30 PM</td>
                        <td id="M1830"></td>
                        <td id="T1830"></td>
                        <td id="W1830"></td>
                        <td id="R1830"></td>
                        <td id="F1830"></td>
                        <td id="S1830"></td>
                        <td id="SU1830"></td>
                    </tr>
                    <tr>
                        <td>6:45 PM</td>
                        <td id="M1845"></td>
                        <td id="T1845"></td>
                        <td id="W1845"></td>
                        <td id="R1845"></td>
                        <td id="F1845"></td>
                        <td id="S1845"></td>
                        <td id="SU1845"></td>
                    </tr>
                    <tr>
                        <td>7:00 PM</td>
                        <td id="M1900"></td>
                        <td id="T1900"></td>
                        <td id="W1900"></td>
                        <td id="R1900"></td>
                        <td id="F1900"></td>
                        <td id="S1900"></td>
                        <td id="SU1900"></td>
                    </tr>
                    <tr>
                        <td>7:15 PM</td>
                        <td id="M1915"></td>
                        <td id="T1915"></td>
                        <td id="W1915"></td>
                        <td id="R1915"></td>
                        <td id="F1915"></td>
                        <td id="S1915"></td>
                        <td id="SU1915"></td>
                    </tr>
                    <tr>
                        <td>7:30 PM</td>
                        <td id="M1930"></td>
                        <td id="T1930"></td>
                        <td id="W1930"></td>
                        <td id="R1930"></td>
                        <td id="F1930"></td>
                        <td id="S1930"></td>
                        <td id="SU1930"></td>
                    </tr>
                    <tr>
                        <td>7:45 PM</td>
                        <td id="M1945"></td>
                        <td id="T1945"></td>
                        <td id="W1945"></td>
                        <td id="R1945"></td>
                        <td id="F1945"></td>
                        <td id="S1945"></td>
                        <td id="SU1945"></td>
                    </tr>
                    <tr>
                        <td>8:00 PM</td>
                        <td id="M2000"></td>
                        <td id="T2000"></td>
                        <td id="W2000"></td>
                        <td id="R2000"></td>
                        <td id="F2000"></td>
                        <td id="S2000"></td>
                        <td id="SU2000"></td>
                    </tr>
                    <tr>
                        <td>8:15 PM</td>
                        <td id="M2015"></td>
                        <td id="T2015"></td>
                        <td id="W2015"></td>
                        <td id="R2015"></td>
                        <td id="F2015"></td>
                        <td id="S2015"></td>
                        <td id="SU2015"></td>
                    </tr>
                    <tr>
                        <td>8:30 PM</td>
                        <td id="M2030"></td>
                        <td id="T2030"></td>
                        <td id="W2030"></td>
                        <td id="R2030"></td>
                        <td id="F2030"></td>
                        <td id="S2030"></td>
                        <td id="SU2030"></td>
                    </tr>
                    <tr>
                        <td>8:45 PM</td>
                        <td id="M2045"></td>
                        <td id="T2045"></td>
                        <td id="W2045"></td>
                        <td id="R2045"></td>
                        <td id="F2045"></td>
                        <td id="S2045"></td>
                        <td id="SU2045"></td>
                    </tr>
                    <tr>
                        <td>9:00 PM</td>
                        <td id="M2100"></td>
                        <td id="T2100"></td>
                        <td id="W2100"></td>
                        <td id="R2100"></td>
                        <td id="F2100"></td>
                        <td id="S2100"></td>
                        <td id="SU2100"></td>
                    </tr>
                    <tr>
                        <td>9:15 PM</td>
                        <td id="M2115"></td>
                        <td id="T2115"></td>
                        <td id="W2115"></td>
                        <td id="R2115"></td>
                        <td id="F2115"></td>
                        <td id="S2115"></td>
                        <td id="SU2115"></td>
                    </tr>
                    <tr>
                        <td>9:30 PM</td>
                        <td id="M2130"></td>
                        <td id="T2130"></td>
                        <td id="W2130"></td>
                        <td id="R2130"></td>
                        <td id="F2130"></td>
                        <td id="S2130"></td>
                        <td id="SU2130"></td>
                    </tr>
                    <tr>
                        <td>9:45 PM</td>
                        <td id="M2145"></td>
                        <td id="T2145"></td>
                        <td id="W2145"></td>
                        <td id="R2145"></td>
                        <td id="F2145"></td>
                        <td id="S2145"></td>
                        <td id="SU2145"></td>
                    </tr>
                    <tr>
                        <td>10:00 PM</td>
                        <td id="M2200"></td>
                        <td id="T2200"></td>
                        <td id="W2200"></td>
                        <td id="R2200"></td>
                        <td id="F2200"></td>
                        <td id="S2200"></td>
                        <td id="SU2200"></td>
                    </tr>
                </tbody>
            </table>
            <script>
                var ds = ["M", "T", "W", "R", "F", "S", "SU"];
                var colors = ["course-one", "course-two", "course-three", "course-four", "course-five", "course-six", "course-seven", "course-eight", "course-nine", "course-ten"]
                var courses = JSON.parse('{{ courses | tojson | safe }}');
                for(j=0; j<courses.length; j++){
                    var course = courses[j];
                    var times = course.times;
                    var days = course.days;
                    
                    for(x=0; x<days.length; x++)
                    {
                        var start = parseInt(times[x].split("-")[0]);
                        var end = parseInt(times[x].split("-")[1]);

                        var startm = start % 100;
                        var endm = end % 100;

                        if(startm % 15 != 0){
                            var startmround = (((startm + 7.5)/15 | 0) * 15) % 60;
                            start = start - startm + startmround;
                        }
                        if(endm % 15 != 0)
                        {
                            var endmround = (((endm + 7.5)/15 | 0) * 15) % 60;
                            end = end - endm + endmround;
                        }

                        var d;
                        for(d of ds){
                            if (days[x].includes(d)){
                                var split = course.times[x].split("-");
                                var start_string = split[0].substring(0,2) + ":" + split[0].substring(2,4);
                                var end_string = split[1].substring(0,2) + ":" + split[1].substring(2,4);

                                var start_int = parseInt(split[0]);
                                var end_int = parseInt(split[1]);
                                if(start_int/100 >= 13){
                                    start_string = (Math.floor(start_int/100)-12) + ":" + split[0].substring(2,4);
                                }
                                if(end_int/100 >= 13){
                                    end_string = (Math.floor(end_int/100)-12) + ":" + split[1].substring(2,4);
                                }
                                var i = start;
                                var b = 0;
                                while(i <= end){
                                    if(b>0){
                                        document.getElementById(d+i).remove();
                                    }
                                    if(i % 100 == 45){
                                        i += 55;
                                    }
                                    else{
                                        i += 15;
                                    }
                                    b+=1;
                                }
                                document.getElementById(d+start).rowSpan = b;
                                document.getElementById(d+start).innerHTML = course.dept + " " + course.number + ", " + course.sect + "<br>" + course.title + "<br>" + start_string + " - " + end_string + "<br> CRN: " + course.crn;
                                color = j%10;
                                document.getElementById(d+start).className = colors[color];

                            }
                        }
                    }
                }
            </script>
        </body>
    </div>
    <div class="col-md-3">
        <div>
            <p>Credits: {{ creds }}</p>
            <p>Attributes: {{ attributes }}</p>
        </div>
        <div class="content-section">
            <h4>Add a course</h4>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.department.label(class="form-control-label") }}
                        {{ form.department(class="form-control form-control-lg", style="font-size: small") }}
                        {{ form.course.label(class="form-control-label") }}
                        {{ form.course(class="form-control form-control-lg", style="font-size: small") }}
                    </div>
                    <script>
                        let dept_select = document.getElementById('department');
                        let course_select = document.getElementById('course');
            
                        dept_select.onchange = function() {
                            dept = dept_select.value;
                            // console.log('course/' + dept);
                            
                            fetch('ccplan/course/' + dept).then(function(response) {
                                response.json().then(function(data) {
                                    // console.log(response);
                                    let optionHTML = '';
                                    for (let course of data.courses) {
                                        optionHTML += '<option value="' + course + '">' + course + '</option>';
                                    }
                                    course_select.innerHTML = optionHTML;
                                })
                            });
                        }
                    </script>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <script>
            function conflictMessage(){
                var str = '{{ error }}'
                var newstring = str.replace(/&amp;/g, "&");
                window.alert(newstring);
            }
        </script>
        {% if error %}
        <div>
            <button type="button" onclick="conflictMessage()" class="btn btn-outline-danger">&#9432;&nbsp;<strong>&nbsp;CONFLICT: {{ conf }}</strong></button>
        </div>
        <script>
            setTimeout(() => { conflictMessage() }, 250);
        </script>
        {% endif %}
        <div style="margin-top:20px">
            <form method="POST" action="">
                {{ rform.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ rform.selcourses.label(class="form-control-label") }}
                        {{ rform.selcourses(class="form-control form-control-lg", style="font-size: small") }}
                    </div>
                </fieldset>
                <script>
                    function removeInstructions(){
                        window.alert('To remove courses, select the desired course(s) in the "Selected Courses" box above and then click the "Remove course(s)" button.');
                    }
                </script>
                <div class="form-group">
                    {{ rform.submit(class="btn btn-poutline-info") }}
                    <button type="button" onclick="removeInstructions()" class="btn btn-outline-primary btn-sm" display="inline">&#9432;</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}