{% extends "layout.html" %}
{% block content %}
<body style="padding-top: 55px;">
    <main role="main">
        <div class="content-section">
            <h1 class="text-primary" style="margin-bottom: 20px;">How to Use the CC Academic Planner</h3>
            <ul>
                <li style="margin-bottom: 10px">To start building your schedule for the upcoming semester, click the "Start Scheduling!" button below.</li>
                <li style="margin-bottom: 10px">On the right side of calendar page there is a form where you can indicate the subject of a course and then the dropdown
                    below that will populate with course offerings for the department you selected for the upcoming semester.</li>
                <li style="margin-bottom: 10px">Once you have selected a course, press the "Add Course" button to add the course to your schedule. After you add a course, the planner will update your calendar view so you can visualize your weekly class schedule!</li>
                <li>If you would like to remove a course (or multiple courses), select the course(s) in the "Selected Courses" box that you would like to remove, and then click the "Remove course(s)" button.</li>
                    <ul>
                        <li><i>In order to select multiple courses from the box, you can hold down the Ctrl (PC) or Command (Mac) key and then click on each course you want to select.</i></li>
                    </ul>
            </ul>
        </div>
    </main>
</body>
{% endblock content %}